<ng-include src="'partials/top-banner.html'"></ng-include>
<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<br>
<div align="center">
	<a href="#/new-profile" class="btn btn-warning">Sign in</a>
</div>
<hr>
<div class="row">
		<div align="center">
			<a href="#/search" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> See all users</a>
			<a href="#/search-by-tags" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> See all users BY TAGS</a>
			<a href="#/profile" class="btn btn-info"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> See user profile</a>
		</div>
	</div>

