<ng-include src="'partials/banner.html'"></ng-include>

<div class="row">	
<div class="col-md-6 col-md-offset-3">
	<h2>Create your profile</h2>
	<h4>Your basic information and skills</h4>
	<hr>
	<form ng-submit="newEntry()">
		<div class="row card">
			<div class="row">
				<div class="col-xs-4">
					<div id="newImage">
						<img ng-src="" style="display:block">
					</div>
				</div>
				<div class="col-xs-8 new-user-col">
	              <div class="form-group">
	                <label for="name">Name</label>
	                <input type="text" class="form-control" id="new-user-p" ng-model="newUserName" placeholder="Input Name">
	              </div>
	              <div class="form-group">
	                <label for="new-user-p">Title</label>
	                <input type="title" class="form-control" id="new-user-p" ng-model="newUserTitle" placeholder="Title">
	              </div>
	              <div class="form-group">
	                <label for="new-user-p">Location</label>
	                <input type="location" class="form-control" id="new-user-p" ng-model="newUserLocation" placeholder="Location">
	              </div>
				</div>
			</div>
			<div class="row"> <!-- Row with buttons -->
				<div class="col-md-6">
						<a href="#/" class="btn btn-primary btn-profile" style="display:block" id="newImageBtn">+ Add picture</a>		
				</div>
				<div class="col-md-6">
						<a href="#/" class="btn btn-primary btn-profile" style="display:block" id="connectLinkedInBtn">Connect to LinkedIn</a>
					</div>
				</div>
			</div>
		<div class="row card">
			<!--  Needs Column -->
			<div class="col-md-6">
				<h3 class="new-user-h3">I need</h3>
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="" id="needInput" ng-model="newUserNeed">
			      <span class="input-group-btn">
			        <button class="btn btn-primary" type="button" id="needBtn" ng-click='addSkill("need", newUserNeed)'><span class="glyphicon glyphicon-plus" aria-hidden="true"></button>
			      </span>
			    </div><!-- /input-group -->
			    <ul> <!-- shows needed skills on the go -->
				    <li ng-repeat="need in getSkillsArray('need')">
					    <h4><span class="label label-primary">{{need}} <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:#99BAEB;cursor:pointer" ng-click="removeSkill('need', need)"></span></span></h4>
				    </li>
				</ul>
			</div>

			<!--  Knows Column -->
			<div class="col-md-6">
				<h3 class="new-user-h3">I know</h3>
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="" id="knowInput" ng-model="newUserKnow">
			      <span class="input-group-btn">
			        <button class="btn btn-success" type="button" id="knowBtn" ng-click='addSkill("know", newUserKnow)'><span class="glyphicon glyphicon-plus" aria-hidden="true"></button>
			      </span>
			    </div><!-- /input-group -->
			    <ul> <!-- shows known skills on the go -->
				    <li ng-repeat="know in getSkillsArray('know')">
					    <h4><span class="label label-success">{{know}} <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:#B8E6B8;cursor:pointer" ng-click="removeSkill('know', know)"></span></span></h4>
				    </li>
				</ul>
			</div>
		</div>

		<!-- Project form was here -->
	<div class="row">
		<div style="float:left">
			<a href="#/new-profile-projects" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add projects to your profile</a>
		</div>
		<div style="float:right">
			<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Submit profile</button>
		</div>		
	</div>
	
	</form>
	<hr>
	<div class="row">
		<div align="center">
			<a href="#/search-users" class="btn btn-warning"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> See all users</a>
		</div>
	</div>

</div>

</div>