<link href='../css/user_profile.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../css/style_timeline.css">


   
<script>
      $(document).ready(function() {
         $('#sortable-8').sortable({
            update: function(event, ui) {
               var productOrder = $(this).sortable('toArray').toString();
               $("#sortable-9").text (productOrder);
            }
         });
      });
   </script>

<div class="bg">

	<div class="container">


			<div class="row">

				<div class="col-xs-8 col-xs-offset-2 profile-frame">

					<h2 class="text-center">{{userBasicInfo.name}}</h2>
					<h3 class="text-center">{{userBasicInfo.title}}</h3>
					<img src="http://i.imgur.com/iYrQXia.jpg" class="img-circle img-responsive text-center img-profile"></img>
					
				</div>

				
			</div>

			<div class="row">

				<div class="col-xs-8 col-xs-offset-2 profile-content">

					<h3 class="text-center">about me</h3>
					<h3 id="about"><small>I've been the President of Russia since 7 May 2012. Putin previously served as President from 2000 to 2008, and as Prime Minister of Russia from 1999 to 2000 and again from 2008 to 2012.
					</small>
					</h2>
				
					
				</div>

				
			</div>

		<div class="row card need_know">

			<div class="col-xs-6 needs">
				<h4 class="text-center">I Need</h4>

					<ul> <!-- shows needed skills on the go -->
					    <li ng-repeat="need in getSkillsArray('need')">
						    <h4><span class="label label-primary">{{need}} <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:#99BAEB;cursor:pointer" ng-click="removeSkill('need', need)"></span></span></h4>
					    </li>
					</ul>



			</div>

			<div class="col-xs-6 knows">

				


			   <ul id="sortable-8">
      <li id="1" class="default">Product 1</li>
      <li id="2" class="default">Product 2</li>
      <li id="3" class="default">Product 3</li>
      <li id="4" class="default">Product 4</li>
   </ul>
   <br>
   <h3><span id="sortable-9"></span></h3>

			</div>

		

		</div>




	<div class="container-timeline">
    <h1 class="project-name">RESPONSIVE TIMELINE</h1>
		<div id="timeline">
			<div class="timeline-item">
				<div class="timeline-icon">
					

				</div>
				<div class="timeline-content">
					<h2>LOREM IPSUM DOLOR</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
					</p>
					<a href="#" class="btn">button</a>
				</div>
			</div>

			<div class="timeline-item">
				<div class="timeline-icon">
					

				</div>
                
				<div class="timeline-content right">
					<h2>LOREM IPSUM DOLOR</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
					</p>
					<a href="#" class="btn">button</a>
				</div>
			</div>

			<div class="timeline-item">
				<div class="timeline-icon">


				</div>
				<div class="timeline-content">
					<h2>LOREM IPSUM DOLOR</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
					</p>
					<a href="#" class="btn">button</a>
				</div>
                
                <div class="timeline-item">
				<div class="timeline-icon">
					

				</div>
                
				<div class="timeline-content right">
					<h2>LOREM IPSUM DOLOR</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
					</p>
					<a href="#" class="btn">button</a>
				</div>
			</div>
			</div>
		</div>
	</div>



	</div>





</div>



