<link href='../css/user_profile.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../css/style_timeline.css">


<script>
      $(document).ready(function() {
         $('#sortable-8').sortable({
            update: function(event, ui) {
               var productOrder = $(this).sortable('toArray').toString();
               $("#sortable-9").text (productOrder);
            }
         });
      });
</script>

<ng-include src="'partials/banner.html'"></ng-include>

<div class="bg">

	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<div class="row card">

				<div class="col-md-6 col-md-offset-3">
					
					<h2 class="text-center">{{userBasicInfo.name}}</h2>
					<h3 class="text-center">{{userBasicInfo.title}}</h3>
                    
                    <img src="http://i.imgur.com/iYrQXia.jpg" class="img-circle img-responsive text-center img-profile"></img>
					
					
				</div>
                
       
				
			</div>
        
        

<!--			<div class="row">


				<div class="col-xs-12 profile-content">

					<h3 class="text-center">about me</h3>
					<h3 id="about"><small>I've been the President of Russia since 7 May 2012. Putin previously served as President from 2000 to 2008, and as Prime Minister of Russia from 1999 to 2000 and again from 2008 to 2012.
					</small>
					</h3>
				
					
				</div>
-->

				
			</div>

		<div class="row need_know">

		<div class="col-xs-6 knows text-center">
               <ul id="sortable-8" >
                   <div ng-repeat="need in needTags">
                    <li id="1" class="default">
                        
                        
                        <h4><span class="label label-primary">{{need}} </span>
                       
                    <li>
                   </div>

               </ul>
			</div>

			<div class="col-xs-6 knows text-center">
               <ul id="sortable-8" >
                   <div ng-repeat="know in knowTags">
                    <li id="2" class="default">
                        
                        
                        <h4><span class="label label-primary">{{know}} </span>
                       
                    <li>
                   </div>

               </ul>
			</div>

		</div>




	<div class="container-timeline">
    <h1 class="project-name">Projects</h1>
		<div id="timeline">
			
            <div class="timeline-item">
				<div class="timeline-icon">
					

				</div>
				<div class="timeline-content">
					<h2>LOREM IPSUM DOLOR</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
					</p>
					<a href="#" class="btn">button</a>
				</div>
			</div>

			<div ng-repeat="project in " class="timeline-item">
				<div class="timeline-icon">
					

				</div>
                
				<div class="timeline-content right">
					<h2>LOREM IPSUM DOLOR</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
					</p>
					<a href="#" class="btn">button</a>
				</div>
			</div>

			<div class="timeline-item">
				<div class="timeline-icon">


				</div>
				<div class="timeline-content">
					<h2>LOREM IPSUM DOLOR</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
					</p>
					<a href="#" class="btn">button</a>
				</div>
                
                <div class="timeline-item">
				<div class="timeline-icon">
					

				</div>
                
				<div class="timeline-content right">
					<h2>LOREM IPSUM DOLOR</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
					</p>
					<a href="#" class="btn">button</a>
				</div>
			</div>
			</div>
		</div>
		</div>

	</div>



	</div>





</div>



