<!-- We include the sidebar as it is shared across two screens. -->
<!-- <ng-include src="'partials/dinner-sidebar.html'" ng-controller="SkillFuelCtrl"></ng-include> -->

 <div ng-controller="FirebaseCtrl">
		<h2>Users database</h2>	
	  <div class="cardSearch" ng-repeat="user in users">
		<div class="row">
			<img class="col-md-3" src="img/user.png">
	    <!-- user data -->
			<div class="col-md-3">
		    <h4> {{user.name}}</h4>
		    <p><strong>Title:</strong> {{user.title}}</p>
	    <p><strong>Location:</strong> {{user.location}}</p>
	    <p><strong>Needs:</strong></p>	
	    <ul>
	    	<li ng-repeat="need in user.skills.need">
			    {{need}}
		    </li>
	    </ul>
	    <p><strong>Knows:</strong></p>
	    <ul>
	    	<li ng-repeat="know in user.skills.know">
			    {{know}}
		    </li>
	    </ul>
	    </div>
	  	</div>
	  	<div class="row">
	  		<div class="col-md-3"><h4>Projects</h4></div>
	  	</div>
	  	<!-- delete a user -->
	    <button ng-click="users.$remove(user)">Delete User</button>
	  </div>
</div>
<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->