<!-- We include the sidebar as it is shared across two screens. -->
<!-- <ng-include src="'partials/dinner-sidebar.html'" ng-controller="SkillFuelCtrl"></ng-include> -->




 <div ng-controller="FirebaseCtrl" class="col-md-12 col-md-offset-0">
		
		<h2>Users database</h2>	
		<div ng-repeat="(userIdx,project) in users" ng-if="userIdx % 3 == 0">
				<div class="row" ng-if="userIdx !== 0">
					<span ng-repeat="elIdx in [0,1,2]" ng-if="users[userIdx+elIdx]" class="outer-container col-md-4">
						<div class="cardSearch">
							<div class="row">
								<img class="col-md-6" src="img/user.png">
								<!-- user data -->
								<div class="col-md-6">
									<h4> {{users[userIdx+elIdx].name}}</h4>
									<p><strong>Title:</strong>{{users[userIdx+elIdx].title}}</p>
									<p><strong>Location:</strong> {{users[userIdx+elIdx].location}}</p>
									<p><strong>Needs:</strong>
											<p ng-repeat="need in users[userIdx+elIdx].skills.need">
												{{need}}
											</p>
									</p>
									<p>
										<strong>Knows:</strong>
										<p ng-repeat="need in users[userIdx+elIdx].skills.know">
											{{know}}
										</p>
									</p>
								 <!-- delete a user -->
									<button ng-click="users.$remove(user)">Delete User</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6"><p>All needs and knows</div>
								<div class="col-md-6"><p>Projects</div>
							</div>
						</div>
					</span>
				</div>
		</div>
		
		
		
		
		
</div>
<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->