<ng-include src="'partials/top-banner.html'"></ng-include>
<div class="col-md-6 col-md-offset-3">
	<div>
		<div class="input-group input-group-lg">
		  <span class="input-group-addon" id="sizing-addon1">User ID</span>
		  <input type="text" class="form-control" placeholder="user1, user2, ..." aria-describedby="sizing-addon1" ng-model="userId"><!--  ng-change="getUsersBySkillId(skillType, skillId)"> -->
		  <span class="input-group-addon" id="sizing-addon1">Need/Know</span>
		  <input type="text" class="form-control" placeholder="'need' or 'know'" aria-describedby="sizing-addon1" ng-model="userSkillType"><!--  ng-change="getUsersBySkillId(skillType, skillId)"> -->
		</div>
		<div class="input-group input-group-lg">
		  <span class="input-group-addon" id="sizing-addon1">Project ID</span>
		  <input type="text" class="form-control" placeholder="project1, project2, ..." aria-describedby="sizing-addon1" ng-model="projectId"><!--  ng-change="getUsersBySkillId(skillType, skillId)"> -->
		  <span class="input-group-addon" id="sizing-addon1">Need/Know</span>
		  <input type="text" class="form-control" placeholder="'need' or 'know'" aria-describedby="sizing-addon1" ng-model="projectSkillType"><!--  ng-change="getUsersBySkillId(skillType, skillId)"> -->
		</div>
		<div align="center">
			<br>
			<p style="color:red">There is a bug here. You gotta press this button twice after editing <strong>Skill ID</strong> above. To be solved...</p>
			<button type="button" class="btn btn-warning" ng-click="update()">Run queries</button>
			<button type="button" class="btn btn-info" ng-click="debugArray()">Debug array</button>
		</div>
		<div class="" ng-repeat="user in usersByTag">
			<h2>{{user.name}}</h2>
			<h4>{{user.title}}</h4> 
			<p>{{user.location}}</p>
		</div>
		<hr>
		<strong>Users fetched from query:</strong>
	</div> 
	<div>
		User: {{userId}}
		<br>
		Needs:
		<div ng-repeat="need in needTags">
			<strong>{{need}}</strong>
		</div>
		Knows:
		<div ng-repeat="know in knowTags">
			<strong>{{know}}</strong>
		</div>
		<hr>
		<!-- Projects:
		
		<div ng-repeat="tag in projectTagsArray">
			{{tag}}	
		</div> -->
	</div>
</div>