<!-- We include the sidebar as it is shared across two screens.
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="SkillFuelCtrl"></ng-include> -->

<div class="row subHeader">
	<div style="float:left;margin-left:63em">
		<h3 style="margin-top:2px"></h3>
	</div>
	<div style="float:left; margin-top:8px; margin-left: 6px; color:white">
		<small></small>
	</div>	
</div>
<!-- <div class="row"> -->
<div class="row" id="searchContainer">
  <div class="col-lg-3">
	<h1 style="color:#E6B800">Skillfuel</h1>
	<h4 style="color:#001F3D">Find people with skills</h4>
	{{userTagsContent.tag1.name}}
  </div>
  <div class="col-lg-6" id="searchBar">
	<div class="row">
	  <div class="col-lg-6 col-lg-offset-4">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Filter users..." ng-model="search.info">
	    </div><!-- /input-group -->
	  </div>
	</div>
    <br>
    <div class="row">
	    <div class="col-lg-6">
	      <div class="input-group">
	  		<span class="input-group-btn">
        		<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true" style="margin-right:5px"></span> I need</button>
     		 </span>
	  		<input type="text" class="form-control" placeholder="Desired skill..." aria-describedby="basic-addon1" ng-model="search.need">
	  	  </div>
	    </div>
	  	<div class="col-lg-6">
		  <div class="input-group">
		  	<span class="input-group-btn">
	          <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true" style="margin-right:5px"></span> I know</button>
      		</span>
		  	<input type="text" class="form-control" placeholder="I can offer..." aria-describedby="basic-addon2" ng-model="search.know">
		  </div>
	  	</div>
	  	
    </div>
    
      
    
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<hr>

<div class="outer-container col-md-4" ng-animate="'animate'" ng-repeat="user in users | filter:search">
	<div class="cardSearch">
		<div class="imgContainer">
			<img class="col-md-6" src="img/user.png"/>
		</div>
		<!-- user data -->
		<div class="userInfo">
			<div class="basicInfoDisplay">
			  <h4> {{user.name}}</h4>
			  <p><strong>Title:</strong> {{user.title}}</p>
			  <p><strong>Location:</strong> {{user.location}}</p>
			</div>
			<div class="skillsDisplay">
			  <p><strong>Needs:</strong> <span ng-repeat="(need, value) in usersNeedsKnows[user.$id].needs"> <span class="label label-primary">{{need}}</span></span></p> <!-- Commas as separators -->
			  <p><strong>Knows:</strong> <span ng-repeat="(know, value) in usersNeedsKnows[user.$id].knows"> <span class="label label-success">{{know}}</span> </span></p> 
			</div>
		</div>
		<div>
			<div class="col-md-6 user-details">
				<a href="#/" class="btn btn-warning btn-skills" style="display:block;"><span class="glyphicon glyphicon-flash" aria-hidden="true" style="margin-left:-7px"></span> Needs & knows</a>
			</div>
			<div class="col-md-6 user-details">
				<a href="#/" class="btn btn-default btn-projects" style="display:block"><span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="margin-right:5px"></span> Projects</a>
			</div><!-- panel for projects and all needs & knows -->
		<!-- delete a user -->
			<div>
				<button class="btn-classic" ng-click="users.$remove(user)" style="margin: 10px 10px">Delete User</button>
			</div>
		</div>
	</div><!-- card -->
</div>
<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search.
