<ng-include src="'partials/top-banner.html'"></ng-include>
<div class="col-md-6 col-md-offset-3">
	<div>
		<div class="input-group input-group-lg">
		  <span class="input-group-addon" id="sizing-addon1">Need/Know</span>
		  <input type="text" class="form-control" placeholder="'need' or 'know'" aria-describedby="sizing-addon1" ng-model="skillType" ng-change="getUsersBySkillId(skillType, skillId)">
		  <span class="input-group-addon" id="sizing-addon1">Skill ID</span>
		  <input type="text" class="form-control" placeholder="tag1, tag2, ..." aria-describedby="sizing-addon1" ng-model="skillId" ng-change="getUsersBySkillId(skillType, skillId)">
		</div>
		<div align="center">
			<br>
			<button type="button" class="btn btn-warning" ng-click="getUsersBySkillId(skillType, skillId);"><<<< Go! >>>></button>
		</div>
		<div class="" ng-repeat="user in users">
			<h2>{{user.name}}</h2>
			<h4>{{user.title}}</h4> 
			<p>{{user.location}}</p>
		</div>
		<hr>
		<strong>Users fetched from query (getUsersBySkillId):</strong> {{users}}
	</div> 
</div>