<input type="text" class="form-control" placeholder="Filter users..." ng-model="searchText">
<input type="text" class="form-control" placeholder="Filter tags..." ng-model="searchTextTag">
<div ng-repeat="user in users | filter:searchText">
	
	{{user.$id}}
	
</div>
<div ng-repeat="(need, value) in usersNeedsKnows['-JkcDqjrinZf04rhG374'].needs">
	{{need}}
	
</div>

<button class="btn btn-info"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true" ng-click="generateKeysArrays()"></span> Generate arrays</button>